@model DealerCenter.Models.Machinery
@{
    ViewBag.Title = "Редактировать поставщика";
}

<form asp-action="edit" asp-controller="Machinery" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Наименование</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="MachineryClassId" class="control-label">Класс спецтехники</label>
        <select asp-for="MachineryClassId" asp-items="ViewBag.Classes" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="SupplierId" class="control-label">Поставщик</label>
        <select asp-for="SupplierId" asp-items="ViewBag.Suppliers" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="YearOfManufacture" class="control-label">Год выпуска</label>
        <input type="number" asp-for="YearOfManufacture" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PurchasePrice" class="control-label">Стоимость закупки (руб.)</label>
        <input type="number" asp-for="PurchasePrice" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SellingPrice" class="control-label">Стоимость продажи (руб.)</label>
        <input type="number" asp-for="SellingPrice" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Сохранить изменения" class="btn btn-default" />
    </div>
</form>
