@model DealerCenter.Models.Order
@{
    ViewBag.Title = "Изменение статуса оплаты заказа";
}

<div>
    <dl class="dl-horizontal">
        <dt>Подтвердите получение предоплаты.</dt>
    </dl>

    <div>
        <form asp-controller="SalesManagerOrder" asp-action="ChangePaymentStatusToAwaitingFullPayment" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Подтвердить" />
            </div>
        </form>
    </div>
</div>